body {
  background-color: rgb(239,227,190);
  text-align: center;
  color: green
}


#myCanvas {
  background-image: url(https://img.freepik.com/free-vector/school-building-near-road-illustration_1262-16602.jpg);
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

